[Unit]
Description=Mount ono docs share

[Mount]
What=192.168.1.77:/mnt/user/docs
Where=/var/mnt/docs
Options=vers=4
Type=nfs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
