[Unit]
Description=Pull dotfiles container image

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/podman pull ghcr.io/nadavspi/dotfiles:latest
