[Unit]
Description=Mount ono photos share

[Mount]
What=192.168.1.77:/mnt/user/photos
Where=/var/mnt/photos
Options=vers=4
Type=nfs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
